/* :root {
  --primary-text-color: #757575;
} */
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #757575;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
