:root {
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --logo3-color: #ffffff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --background-section-hero-footer: #2f303a;
  --activ-accent-color: #188ce8;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #757575;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */
/* .nav {
} */
/* Logo */
/* logo header */
.nav__link--logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--logo2-color);
}

.nav__logo--color {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--logo1-color);
}

/* logo footer */

.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--logo3-color);
}

.footer__logo--color {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--logo1-color);
}

/* header nav */
.nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--title-text-color);
}

.contacts__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-color);
}

/* hover nav */

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
/* .nav__list .nav__link:active {
  color: red;
} */

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/* .contacts__list .contacts__link:active {
  color: red;
} */

/* footer */

.footer {
  background-color: var(--background-section-hero-footer);
}

.footer__addresses {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.footer__contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-color);
}

.footer__list .link:hover,
.footer__list .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--background-section-hero-footer);
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--logo3-color);
}
.hero__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--logo3-color);
  background: var(--accent-color);
}
/* hero btn hover */
.hero__btn:hover,
.hero__btn:focus {
  background: var(--activ-accent-color);
}

/* features */

/* .features {
} */

/* .features__list {
} */

/* .features__item {
} */
.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}
.features__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

/* activity */

/* .activity {
} */
/* .activity__list {
} */
/* .list {
} */
/* .activity__item {
} */
.activity__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}
/* workers */

/* .workers {
} */
.workers__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.workers-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.workers__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
/* .workers__list {
} */
/* .list {
} */
/* .workers__item {
} */

/* portfolio */
